<ion-header>
  <ion-toolbar>
    <ion-title>favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content *ngIf = "!isLogged">
    <ion-tab-button  tab="user" >
      Loggati per vedere i tuoi preferiti
    </ion-tab-button> 
  </ion-content>
  <ion-list>
    <ion-item *ngFor = "let f of favorites; let i = index">
      <ion-avatar slot="start">
        <img src="./avatar-poe.png">
      </ion-avatar>
      <ion-label>
        <ion-row class = "align-items-center">
          <ion-col>
            <h2>{{f.name}}</h2>
            <h3>{{f.dateTime}} {{f.price}}$</h3>
            <p>{{f.type}}</p>
          </ion-col>
          <ion-col>
            <ion-button fill = "clear" (click) = "deleteFavorite(i)"><ion-icon color = "danger" name="trash-outline"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
        
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
