<ion-header>
  <ion-toolbar>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf ="signUpVisible">
  <app-sign-up></app-sign-up>
  <button (click)= "signUpBtnStatus()">Già registrato?</button>
</ion-content>

<ion-content *ngIf ="!isLogged && !signUpVisible">
  <app-login id = "login" ></app-login>
  <button (click)= "signUpBtnStatus()">Oppure registrati</button>
</ion-content>

<ion-content *ngIf = "isLogged">

  <div class="card">
    <div class="header header-img">
      <div class="avatar">
        <img src="https://biografieonline.it/img/bio/p/Pippo_Baudo.jpg" alt="">
      </div>
    </div>
  </div>
  
  <div class="card-body">
    <div class="user-meta ion-text-center">
      <div class = "row justify-content-center">
        <ion-row>
          <h3 class="playername">Ciao {{username}}</h3>
          <ion-tab-button  tab="edit-user" >
            <ion-icon class="icon" name="pencil"></ion-icon>
          </ion-tab-button> 
        </ion-row>
      </div>
      
      <h5 class="country">ciao</h5>
      <h6 class="ranking">Eventi preferiti:<ion-chip>
        <ion-label>{{numberOfFavorites}}</ion-label>
        </ion-chip>
      </h6>
      <h6 class="ranking">I miei biglietti:<ion-chip>
        <ion-label>{{numberOfTickets}}</ion-label>
        </ion-chip>
      </h6>
    </div>
    <ion-button expand="full" color="primary">http://rogerfederer.com</ion-button>
    <ion-button expand="full" color="secondary">@RogerFederer on Twitter</ion-button>
    <ion-button expand="full" color="secondary">View profile at ATP</ion-button>
  </div>
  <button class="nav-link" (click) = 'logout()'> logout</button>   
</ion-content>
