<ion-header>
  <ion-toolbar>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf ="signUpVisible">
  <app-sign-up></app-sign-up>
  <ion-row class="justify-content-center">
    <ion-button class= "ForgetPwd" fill="clear" (click)= "signUpBtnStatus()">Già registrato?</ion-button>
  </ion-row>
</ion-content>

<ion-content *ngIf ="!isLogged && !signUpVisible">
  <app-login id = "login" ></app-login>
  <ion-row class="justify-content-center">
    <ion-button (click)= "signUpBtnStatus()" class= "ForgetPwd" fill="clear">Oppure registrati</ion-button>
  </ion-row>
</ion-content>

<ion-content *ngIf = "isLogged">

  <div class="card">
    <div class="header header-img">
      <div class="avatar">
        <img src="https://biografieonline.it/img/bio/p/Pippo_Baudo.jpg" alt="">
      </div>
    </div>
  </div>
  
  <div class="card-body">
    <div class="user-meta ion-text-center">
      <div class = "row justify-content-center">
        <ion-row>
          <h3 class="playername">{{username}}</h3>
          <ion-tab-button  tab="edit-user" >
            <ion-icon class="icon" size = "small" name="pencil"></ion-icon>
          </ion-tab-button> 
        </ion-row>
      </div>
      
      <ion-chip *ngIf = "admin" color ="success">
        <ion-icon name="shield-checkmark-outline" color = "primary"></ion-icon>
        <ion-label>Admin</ion-label>
      </ion-chip>

      <ion-row class = "justify-content-center ">
        <h6 class="ranking">Preferiti:<ion-chip>
          <ion-label>{{numberOfFavorites}}</ion-label>
          </ion-chip>
        </h6>
        <h6 class="ranking">Biglietti:<ion-chip>
          <ion-label>{{numberOfTickets}}</ion-label>
          </ion-chip>
        </h6>
      </ion-row>
      
    </div>
    
    <div class = "profile-buttons" *ngIf = "admin">
    <ion-button expand="full" color="primary"><ion-tab-button class ="text-btn" tab="new-event">Create New Event</ion-tab-button></ion-button>
    <ion-button expand="full"  color="secondary"><ion-tab-button class ="text-btn" style = "background:#51c8ff" tab="make-admin">New Admin</ion-tab-button></ion-button>
    <ion-button expand="full"  color="danger"><ion-tab-button class ="text-btn" style = "background:#ff4a62" tab="delete-event">Delete Event</ion-tab-button></ion-button>
    </div>

    <ion-row class = "justify-content-center " style="margin-top: 7%;">
      <ion-chip color= "primary">
        <ion-label>Ultimo biglietto acquistato</ion-label> 
        <ion-icon color ="secondary" name="calendar-number-outline"></ion-icon>
      </ion-chip>
    </ion-row>

    
    <ion-item style="margin-top: 4%;">
      <ion-avatar slot="start">
        <img src="https://www.kindpng.com/picc/m/27-278473_transparent-tickets-clipart-ticket-flat-icon-hd-png.png">
      </ion-avatar>
      <ion-label>
        <ion-row class = "align-items-center">
          <ion-col>
            <h2>{{lastTicketName}}</h2>
            <h3>{{lastTicketDateTime}} <span style="color: limegreen; margin-left: 4%;">{{lastTicketPrice}}$</span></h3>
            <p><span style="color: rgb(11, 154, 211);">{{lastTicketType}}</span></p>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
    
  </div>
  <ion-button color="medium" expand = "full"  (click)= 'logout()'> DISCONNETTI</ion-button>   
</ion-content>
