<div class="login-container">
    <div class="row justify-content-center">
      <div class = "col-md-6 login-form-1">
            <h3 style="color: white;">Registrati</h3>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

                <div class="form-group" [ngClass]="displayFieldCss('name')">
                    <div class="col-sm-12">
                      <label for="name" class="control-label required">Name</label>
                      <input type="text" id="name" class="form-control" formControlName="name">
                      <app-field-error-display 
                        [displayError]="isFieldValid('name')" 
                        errorMsg="Required!">
                      </app-field-error-display>
                    </div>
                </div>
                <div class="form-group" [ngClass]="displayFieldCss('username')">
                    <div class="col-sm-12">
                      <label for="username" class="control-label required">Username</label>
                      <input type="text" id="username" class="form-control" formControlName="username">
                      <app-field-error-display 
                        [displayError]="isFieldValid('username')" 
                        errorMsg="Required or already in use">
                      </app-field-error-display>
                    </div>
                </div>
                <div class="form-group" [ngClass]="displayFieldCss('password')">
                    <div class="col-sm-12">
                      <label for="name" class="control-label required">Password</label>
                      <input type="password" id="password" class="form-control" formControlName="password">
                      <app-field-error-display 
                        [displayError]="isFieldValid('password')" 
                        errorMsg="Must be 6 lenght plus special char">
                      </app-field-error-display>
                    </div>
                </div>
                <ion-row class="justify-content-center">
                  <button class="btnSubmit" (click)="onSubmit(form.value)">Submit</button>
                </ion-row>
                
            </form>
          </div>
    </div>
  </div>
