<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-tab-button tab="user">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-tab-button>
    </ion-buttons>
    <ion-title>Elimina evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <div class="form">
        <form class="login-form-1">
            <input type="text" required="" placeholder="event Id" value="" name="eventId" class="txt"  [(ngModel)] = "eventId">
            <p class="text-danger">{{errorDeleteEvent}}</p>
            <input class="btnSubmit"  type="submit" value="Elimina" name="submit" (click) = "deleteEvent()">
        </form>
    </div>
  </div>
</ion-content>
