<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <h5 *ngFor = "let e of events">{{e.name | titlecase}}</h5> -->

<ion-content >
  <h1 style="padding-left: 4%;">Prossimamente a: </h1>
  <div *ngFor = "let e of twoEvents; let i = index">
    <h1 style="padding-left: 4%;">{{e.place | titlecase}}</h1>
    <ion-item-sliding style="padding: 5% 8%;" >
      <ion-item-options side ="end" style="padding: 5% 8%;">
        <ion-item-option color = "success" (click) = 'buyTicket(0)'>Acquista</ion-item-option>
        <ion-item-option color = "secondary" (click) = 'addFavorite(0)'>Preferiti</ion-item-option>
      </ion-item-options>
      <ion-item  class ="sliding-item">
        <ion-label>
          <ion-row class = "align-items-center justify-content-end">
            <ion-col>
              <h2>{{e.name | titlecase}}</h2>
              <h3>{{e.dateTime}} <span style= "color: green;">{{e.price}}$</span></h3>
              <p style="color: grey;">{{e.type | titlecase}}</p>
            </ion-col>
            <ion-col>
              <h4 style="color:lightskyblue ;">{{e.place | titlecase}}</h4>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </div>
  

  <h1 style="padding-left: 4%;">Tutti gli eventi: </h1>

  <ion-card *ngFor = "let e of events; let i = index" class ="my-card">
    <ion-card-header>
      <ion-card-subtitle>{{e.dateTime}}</ion-card-subtitle>
      <ion-card-title>{{e.name | titlecase}}
        <ion-chip style="color: green; font-size: small;">{{e.price}},99$</ion-chip>
     </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-card-content>
      <ion-button *ngIf = "isLogged" (click)='buyTicket(i)' fill = "clear"><ion-icon size="large" name="cart-outline"></ion-icon></ion-button>
      <ion-button *ngIf = "isLogged" (click)='addFavorite(i)' style="margin-left: 2%;" fill = "clear"><ion-icon size = "large" name="heart-circle-outline"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
