<div class="login-container">
  <div class="row justify-content-center">
      <div class="col-md-6 login-form-1">
          <h3>Login</h3>
          <form>
              <div class="form-group">
                  <input  type="text" name ="username"  class="form-control" placeholder="Your username *"  [(ngModel)] = "username">
              </div>
              <div class="form-group">
                  <input type="password" name = "password" class="form-control" placeholder="Your Password *"  [(ngModel)] = "password">
              </div>
              <br>
              <div class="form-group">
                  <input type="submit" class="btnSubmit" value="Login" (click) = "login()" />
              </div>
              <p class="text-danger">{{errorMessage}}</p>
              <!-- <div class="form-group">
                  <a routerLink = "/signup"class="ForgetPwd">Oppure registrati</a>
              </div>
               -->
          </form>
      </div>
  </div>
</div>