<div class="login-container">
  <div class="row justify-content-center">
    <div class = "col-md-6 login-form-1">
          <h3>Login</h3>
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
              <div class="form-group">
                  <input  type="text" name ="username"  class="form-control" placeholder="Your username *"  [formControl]="form.controls['username']">
              </div>
              <div class="form-group">
                  <input type="password" name = "password" class="form-control" placeholder="Your Password *"  [formControl]="form.controls['password']">
              </div>
              <br>
              <button class="btnSubmit" type="submit">Sign Up</button>
          </form>
        </div>
  </div>
</div>