<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-tab-button tab="user">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-tab-button>
    </ion-buttons>
    <ion-title>Promuovi/Rimuovi Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <div class="form">
        <form class="login-form-1">
            <input type="text" required="" placeholder="Username" name="usernameToPromove" class="txt"  [(ngModel)] = "usernameToPromove">
            Admin: <input name = "admin" type="checkbox" [(ngModel)] = "admin">
            <br>
            <p class="text-danger">{{errorModifyAdmin}}</p>
            <input type="submit" value="Fatto" name="submit" class="btnSubmit"  (click) = "makeAdmin()">
        </form>
    </div>
  </div>
</ion-content>
